.bg {
  background-image: url("images/bg-desktop 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 120vh;
  width: 200vh;
}

#berita {
  background-image: url("images/bg-2.png");
  background-size: cover;
  background-position: center;
  height: 220vh;
  width: 192vh;
  overflow: hidden;
}

.box1 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 h1 {
  margin-left: 5%;
  align-self: flex-start;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.box1 h5 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: flex-start;
}

.peta {
  align-self: center;
  width: 100%;
  height: auto;
  
}
.zoom-effect {
  overflow: hidden;
  margin-top: 8%;
  margin-bottom: 15px;
  border-radius: 25px;
  max-height: 388px;
}

.zoom-effect:hover .peta {
  transform: scale(1.1); /* Efek zoom pada hover */
  transition: transform 0.5s ease; /* Animasi transisi */
}

.box2 {
  width: 100%;
  height: 25%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box2 h1 {
  margin-left: 5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.box2 h5 {
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box3 {
  margin-top: 2%;
  width: 100%;
  height: 25%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box3 h1 {
  margin-left: 5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.box3 h5 {
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box4 {
  margin-top: 2%;
  width: 100%;
  height: 45%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ran {
  height: 100%;
  width: 100%;
}

.zoom-effect-2 {
  margin-left: 5%;
  overflow:hidden;
  border-radius: 25px; 
  height: 178px;
  width: 300px;
}

.zoom-effect-2:hover .ran {
  transform: scale(1.1); /* Efek zoom pada hover */
  transition: transform 0.5s ease; /* Animasi transisi */
}

.box4 h1 {
  margin-left: 5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.box4 h5 {
  margin-left: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.element-with-gradient-bg {
  background: linear-gradient(to top right, #0431fc, #04d3c5);
  color: #fff !important;
}

.element-with-gradient-bg .card-title {
  font-size: 40px;
}

.daftar-btn {
  text-align: center;
}

.daftar-button {
  margin-top: 2%;
  width: 10%;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(255, 208, 0);
  border: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animasi transisi warna dan shadow */
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35); /* Bayangan default */
}

.daftar-button:hover {
  background-color: #ffa500; /* Warna yang berubah saat dihover */
  box-shadow: 0px 18px 40px 12px rgba(255, 180, 0, 0.5); /* Shadow yang berubah saat dihover */
}

.bg-custom-color {
  background-color: #28a997;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: sticky;
}

.btn-tentang-acara:hover {
  background: #db7e21; /* Warna yang lebih gelap saat dihover */
  box-shadow: 0px 18px 40px 12px rgba(215, 169, 35, 0.35); /* Bayangan yang lebih gelap saat dihover */
}

.register-btn {
  border-radius: 100px;
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #59ffb9 0%, #326cff 100%)
  );
  padding: 5px 20px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-btn:hover {
  background: linear-gradient(
    258deg,
    #4cf9aa 0%,
    #2d58e8 100%
  ); /* Gradien yang lebih gelap saat dihover */
}

.sponsor {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.teks {
  font-family: "Montserrat", sans-serif;
  margin-top: 1%;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.all-sponsor {
  width: 200%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  animation: moveRight 10s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
    /* Pindahkan gambar ke arah kanan */
  }
}

.img-sponsor,
.img-sponsor0,
.img-sponsor1,
.img-sponsor2,
.img-sponsor3,
.img-sponsor4,
.img-sponsor5,
.img-sponsor6 {
  width: 100%;
  flex-shrink: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}

.galeri {
  padding-top: 9rem;
  overflow: hidden;
}

.text-galeri {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-bottom: 2rem;
}

.mySwiper {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.register-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sec4 {
  width: 100%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.title-sec4 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.title-sec4 h1 {
  color: #212427;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.nav-artikel {
  display: flex;
  border-radius: 50px;
  width: 20%;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
}

.nav-artikel a {
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.foto,
.video {
  display: none;
}

.tmb-artikel {
  width: 100%;
  display: flex;
  margin-top: 3%;
  justify-content: center;
  flex-direction: row;
}

.tmb-artikel a {
  margin-right: 1%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.tmb-artikel a:hover {
  transform: scale(1.1);
}

.tmb,
.tmb1,
.tmb2 {
  margin-right: 2%;
  border-radius: 10%;
}

.teks-artikel-all {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teks-artikel-all h4 {
  font-size: 105%;
  width: 20%;
  margin: 10px;
}

.date-artikel-all {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 19%;
}

.date-artikel {
  margin-right: 9.5%;
}

.date-artikel1 {
  margin-right: 9.3%;
}

.footer-section {
  width: 100%;
  height: 23rem;
  background: #28a997;
  align-content: center;
  overflow: hidden;
}

.footer-container {
  align-items: center;
}

.logo-size {
  width: 22rem;
  height: 9.5rem;
  margin-top: 1.8rem;
  margin-left: 10rem;
  font-variant: #fff;
}

#coloredLogo {
  filter: brightness(0) invert(1);
}

.footer-container-text {
  width: 81.25rem;
  height: auto;
  margin-top: 1.8rem;
  gap: 6.25rem;
}

.footer-text p {
  width: 63rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 100 !important;
  line-height: normal;
  margin-left: 10rem;
}

.footer-container-title {
  height: 1rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1rem;
  margin-left: 100%;
}

.logo-style {
  gap: 0.5rem;
  margin-left: 100%;
}

.hr-style {
  width: 94rem;
  height: 1rem;
  color: #fff;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  margin-left: 10rem;
}

.copyright {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.08px;
  width: 81.25rem;
  height: auto;
  margin-left: 10rem;
}

.card-artikel-size {
  width: 23.5rem;
  height: 23rem;
  overflow: hidden;
  position: relative;
}

.img-artikel-size {
  object-fit: cover;
}

.card-img-top {
  border-radius: 12px;
}

.card-title-artikel {
  color: #212427 !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.card-text-artikel {
  color: #6c6c6c !important;
  font-family: Montserrat !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.card,
.border-0 {
  border: none !important;
}

.berita-section {
  padding-top: 5rem;
  width: 100%;
  object-fit: cover;
  height: 80rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.berita-title {
  color: #212427;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 3.3rem;
}

.navmenu-berita {
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  padding: 0.625rem 1.25rem;
  margin-bottom: 3.1rem;
}

.navmenu-berita a {
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-right: 0.5rem;
}

.berita-content {
  width: 74rem;
  height: 48rem;
}

.card-artikel-size:hover .img-artikel-size,
.card-timestamp-size:hover .img-timestamp-size {
  transform: scale(1.1);
  cursor: pointer;

  transition: transform 0.3s ease;
}

.card-artikel-size:hover .card-title-artikel,
.card-timestamp-size:hover .card-title-timestamp {
  color: #ff9a3c !important;
  cursor: pointer;
}

.card-artikel-size,
.card-timestamp-size {
  overflow: hidden;
}

.card-timestamp-size {
  width: 23.5rem;
  height: 23rem;
  overflow: hidden;
  position: relative;
}

.img-timestamp-size {
  object-fit: cover;
}

.card-img-top {
  border-radius: 12px;
}

.timestamp {
  width: 4rem;
  height: 1.5rem;
  border-radius: 5px;
  background: rgba(33, 36, 39, 0.5);
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  top: 0;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.timestamp h5 {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 0;
}

.card,
.border-0 {
  border: none !important;
}

.card-title-timestamp {
  color: #212427 !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.card-text-timestamp {
  color: #6c6c6c !important;
  font-family: Montserrat !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.btn-berita {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
}

.btn-berita-icon {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
